@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root{
  --font-family-main: 'Montserrat', sans-serif;

  --font-size-m: 16px;
  --font-size-l: 24px;
  --navbar-height: 70px;
  --sidebar-width: 300px;

  --bg-color: #ffffff;
  --inverted-bg-color: #052849;
  --text-color-primary: #969696;
  --text-color-secondary: #606060;
  --border-color: #737373;
  --border-color-secondary: #ababab;
  --primary-color: #a2b1c2;
  --secondary-color: #CECED4;
  --line-color-primary: #75BDF8;
  --line-color-secondary: #7f878d;
}